/* Global styles for layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffbd59;
    background-image: url('../../assets/4002678.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.dashboard-container {
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    padding: 20px;
    margin-left: 200px;
}

/* Content Section */
.content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #000000;
}

h1 {
    color: #2c3e50;
}

