* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #dde5f4;
    min-height: 100vh;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}